In [ ]:
a=('C,B,A')
a1=a.split(',')
b=['F','G','H']
c=a1+b
c[0]='K'
d=c.pop(2)
print(d)
del c[1:4]
c.insert(2,'U')
print(c)

A
['K', 'H', 'U']

In [ ]:
a=(input('輸入八位數字'))
b=list(a)
print(b[4])

輸入八位數字12345678
5

In [ ]:
a=('My ID is B1202006')
b=a.split(' ')
print(len(b))
print(len(b[3]))

4
8

In [ ]:
a=("I'm a student")
b=a.split(' ')
print(b[0][2])

m